
<div class="containerr">

  <div class="ours">

    <div id="rightRow" class="row">
      <div class="col-sm-1">
        <button class="firstButton"> Order Now  </button>
      </div>
      <div class="col-sm-1">
        <button class="firstButton">FAQ</button>
      </div>
      <div  class="col-sm-1">
        <button class="firstButton">Contact</button>
      </div>
      <div  class="col-sm-1">
        <button class="firstButton">Login</button>
      </div>
    </div>
  </div>
  
  
    <div class="why-us">
    <div id="textboxrow" class="row">
      <div id="textbox" class="col-sm-2">
        <p class="titelBox">Why us?</p>
        <hr class="lineBelowTitel">
        <hr class="lineBelowTitel1">
        <p class="textSmth">
        What is Lorem Ipsum?
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dum
        my text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survi
        ved not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more 
        reently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>

      

      
        
      <div id="textbox1" class="col-sm-2">
        <p class="titelBox">We are LEGIT!</p>
        <hr class="lineBelowTitel">
        <hr class="lineBelowTitel1">
        <p class="textSmth">
        What is Lorem Ipsum?
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dum
        my text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survi
        ved not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s wi
        th the release of Letraset sheets containing Lorem Ipsum passages, and more 
        reently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>
 

  



 


















</div>

